<div class="album-box" *ngIf="album">
	<div id="album-head-card">
		<div class="image">
			<img src="{{url + 'get-image-album/' + album.image}}">
		</div>
		<div class="data artist-title">
			<h1>{{album.title}}</h1>
			<p><a [routerLink]="['/artista/', album.artist._id]">{{album.artist.name}}</a></p>
			<p>{{album.year}}</p>
			<p>{{album.description}}</p>

			<a [routerLink]="['/crear_tema/', album._id]" class="btn btn-sm btn-default" *ngIf="identity.role == 'ROLE_ADMIN'">
				Añadir Canción
			</a>
		</div>
	</div>
	<div class="clearfix"></div>
	<div id="gallery-songs" *ngIf="songs">
		<ul id="songs-list">
			<li *ngFor="let song of songs" class="song-item">
				<div class="title">
					<a class="btn btn-info btn-circle" (click)="startPlayer(song)">
						<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
					</a>
					{{song.number + '. ' + song.name + ' - '+ song.duration}}

					<div class=" derecha" *ngIf="identity.role == 'ROLE_ADMIN' && confirmado != song._id">
						<a [routerLink]="['/editar_tema/', song._id]" class="btn btn-sm btn-warning">Editar</a>

						<a (click)="onDeleteConfirm(song._id)" class="btn btn-sm btn-danger">Borrar</a>
					</div>
					<div class="seguro derecha" *ngIf="confirmado == song._id">
						<a (click)="onDeleteSong(song._id)" class="btn btn-sm btn-danger">Eliminar</a>
						<a (click)="onCancelSong()" class="btn btn-sm btn-primary">Cancelar</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</li>
		</ul>
	</div>
</div>