<div *ngIf="identity" class="navigation col-lg-1">
	<h1>
		{{title}}
	</h1>
</div>
<div class="clearfix"></div>
<div *ngIf="identity" class="navigation col-lg-11">
	<p>Estás logueado en la aplicación</p>	
</div>

<div *ngIf="!identity" class="row">
	<div class="col-lg-6">
		<h1>Identificate</h1>
		<form>
			<p>
				<label>Email</label>
				<input type="text" name="" class="form-control" required>
			</p>
			<p>
				<label>Contraseña</label>
				<input type="password" name="" class="form-control" required>
			</p>
			<input type="submit" value="Entrar" class="btn btn-primary">
		</form>
	</div>
	<div class="col-lg-6">
		<h1>Registrate</h1>
		<form>
			<p>
				<label>Nombre</label>
				<input type="text" name="" class="form-control" required>
			</p>
			<p>
				<label>Apellidos</label>
				<input type="text" name="" class="form-control" required>
			</p>
			<p>
				<label>Email</label>
				<input type="text" name="" class="form-control" required>
			</p>
			<p>
				<label>Contraseña</label>
				<input type="password" name="" class="form-control" required>
			</p>
			<input type="submit" value="Registrar" class="btn btn-primary">
		</form>
	</div>
</div>

